@font-face {
    font-family: 'Sunday';
    src: url(fonts/Sunday-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Allura';
    src: url(fonts/Allura-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Quicksand';
    src: url(fonts/Quicksand-VariableFont_wght.ttf) format('truetype');
}

/* Variáveis */
:root {
    --cor1: #5d504e;
    --cor2: #ddd4cb;
    --cor3: #423c3b;
    --cor4: #94807cb4;
    --cor5: #f4f4f4;
}

/* Configurações Gerais */
*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    overflow: hidden;
}
    